.main_heading
{
    font-size: 10em;
    text-transform: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
}

.small_icon
{
    height: 150px;
    width: 250px;
}
@media only screen and (max-width:600px)
{
    .main_heading
    {
        font-size: 7em;
    }
    
    
}